In [2]:
import pandas as pd

In [15]:
path = (r'C:\Users\namit\OneDrive\Desktop\Longevity Research Project\neonatal-deaths-by-cause.csv')
df = pd.read_csv(path)

In [16]:
df.head()

,Entity,Year,Diarrhea,Congenital birth defects,Hemolytic and jaundice,Malaria,Lower respiratory infections,Meningitis,encephalopathy,Preterm birth,Tetanus,Unspecified infectious diseases,Other neonatal disorders,Sepsis,STD
0,Afghanistan,1990,486,4872,348,2,3989,199,1435,5491,1894,63,5811,363,99
1,Afghanistan,1991,598,5493,390,3,4396,218,1633,6159,2352,76,6281,453,107
2,Afghanistan,1992,765,6542,467,5,5184,257,1964,7358,2901,94,7193,577,146
3,Afghanistan,1993,973,7235,530,2,5862,290,2189,8280,3153,104,7852,627,192
4,Afghanistan,1994,971,7500,560,4,6216,306,2280,8658,3328,107,8126,637,210

In [25]:
df['Year'].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [26]:
2019-1990

29